<ul class="topnav clearfix">
  <li class="logo-sm">      
    <a href="{{ path('homepage') }}"> 
      <img alt="Brand" src="{{ asset('img/logo.png') }}">
    </a>
  </li>
  <li><a href="{{ path('biographie') }}">Biographie</a></li>
  <li><a href="{{ path('galerie') }}">Galerie</a></li>
  <li class="logo">      
    <a href="{{ path('homepage') }}"> 
      <img alt="Brand" src="{{ asset('img/logo.png') }}">
    </a>
  </li>
  <li><a href="{{ path('galerie') }}">Activités</a></li>
  <li><a href="{{ path('blog') }}">Blog</a></li>
  <li class="toggle-nav icon">&#9776;</li>
</ul>