{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/lib/swiper.min.css') }}">
{% endblock %}

{% block body %}
  <div class="blog">
    <div class="row">
      <div class="title"><span>{{article.title}}</span></div>
      <div class="image"><img src="{{ asset('/upload/blog/' ~ article.image) }}"></div>
      <div class="desc">{{ article.description }}</div>
    </div>
     <div class="swiper-container row images">
      <div class="swiper-wrapper">
        {% for photo in images %}
          <div class="swiper-slide thumbnail">
            <img src="{{ asset('/upload/blog/' ~ photo) }}" class="img">
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/modal.js')}}"></script>
  <script type="text/javascript" src="{{ asset('js/lib/swiper.min.js')}}"></script>
  {{ parent() }}
{% endblock %}